/* 
 * ------------------------------------------------------------------------------------
 * Konten
 * ------------------------------------------------------------------------------------
*/
.content .sidebar {
    padding: 70px 20px;
}

/* 
 * ------------------------------------------------------------------------------------
 * Anggota perpustakaan
 * ------------------------------------------------------------------------------------
*/
.anggota {
    background-color: #314961;
    border-radius: 10px;
    padding: 30px 10px;
    width: 90%;
    margin: auto;
    box-shadow: 0 -7px 0 0 #111;
    grid-area: konten;
}

.anggota h1 {
    font-family: sansreguler;
    font-size: 14pt;
    color: #fff;
    margin-bottom: 20px;
    grid-area: h1;
}

.anggota button {
    display: flex;
    background-color: #1A2835;
    width: fit-content;
    height: fit-content;
    padding: 7px;
    border-radius: 7px;
    text-decoration: none;
    border: none;
    transition: .3s;
    margin-bottom: 20px;
}

.anggota button:hover {
    cursor: pointer;
}

.anggota button p {
    font-family: sansreguler;
    font-size: 11pt;
    color: #fff;
    margin-left: 5px;
}

/* 
 * ------------------------------------------------------------------------------------
 * Tabel anggota perpustakaan
 * ------------------------------------------------------------------------------------
*/
.daftarAnggota table {
    width: 100%;
    color: #fff;
}

.daftarAnggota table thead th {
    text-align: center;
    font-family: sansbold;
    background-color: #1A2835;
}

.daftarAnggota table thead tr {
    border-bottom: 1px solid #fff;
}

.daftarAnggota table th,
.daftarAnggota table td {
    border-left: 1px solid #fff;
    padding: 10px;
    font-family: sansreguler;
    font-size: 10pt;
    vertical-align: middle;
}

.daftarAnggota table td:first-child {
    text-align: center;
    font-family: sansreguler;
    font-weight: 600;
}

.daftarAnggota table tbody tr:nth-child(odd) {
    background-color: #26384B;
}

.daftarAnggota table tbody tr:nth-child(even) {
    background-color: #314961;
}

.daftarAnggota tbody td:last-child {
    display: flex;
}

.daftarAnggota thead th:first-child {
    width: 5%;
}

.daftarAnggota thead th:nth-child(3),
.daftarAnggota thead th:nth-child(4),
.daftarAnggota tbody td:nth-child(3),
.daftarAnggota tbody td:nth-child(4) {
    width: 15%;
    text-align: center;
}

.daftarAnggota thead th:last-child {
    width: 10%;
}

.daftarAnggota tbody a {
    text-decoration: none;
    border-radius: 3px;
    margin: 0 2px;
    padding: 3px 7px;
    background-color: #1A2835;
}

.daftarAnggota tbody a:hover {
    cursor: pointer;
}

.daftarAnggota tbody a img {
    max-width: 20px;
    max-height: 20px;
    opacity: 1;
    transition: .3s;
}

.daftarAnggota tbody a:hover img {
    opacity: .7;
}

/* 
 * ------------------------------------------------------------------------------------
 * Toggle tambah anggota
 * ------------------------------------------------------------------------------------
*/
.formToggle {
    display: none;
}

.form,
.detailUbah {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    animation: opacity .3s ease;
}

.form form,
.detailUbah form {
    position: absolute;
    background-color: #26384B;
    padding: 15px 50px 50px 50px;
    top: 20%;
    bottom: auto;
    left: 30%;
    right: 30%;
    border-radius: 10px;
}

.form li,
.detailUbah li {
    display: grid;
    grid-template-areas:
        'label input'
    ;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    margin: 7% 0;
    line-height: 20px;
}

.form li:first-child,
.form li:last-child,
.detailUbah li:first-child {
    display: flex;
    justify-content: end;
    margin-top: 0;
    margin-right: -35px;
    margin-bottom: 0;
}

.form li:last-child {
    margin-right: 0;
    margin-bottom: 50px;
}

.form img,
.detailUbah img {
    width: 24px;
}

.form img:hover,
.detailUbah img:hover {
    cursor: pointer;
}

.form label,
.form input,
.detailUbah label,
.detailUbah input {
    margin: 0 5px;
    height: 20px;
    font-family: sansreguler;
    font-size: 11pt;
    font-weight: 450;
}

.form label,
.detailUbah label {
    grid-area: label;
    color: #fff;
}

.form input,
.detailUbah input {
    grid-area: input;
    font-size: 10pt;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 0 1px #93FFDD;
}

.detailAnggota input {
    box-shadow: none;
    color: #fff;
    padding-left: 10px;
}

.detailAnggota input:hover {
    cursor: not-allowed;
}

.form input:focus,
.form input:focus,
.detailUbah input:focus {
    outline: none;
    box-shadow: 0 3px 0 0 #00D592;
}

.form button.simpanAnggota {
    background-color: #93FFDD;
    padding: 5px 20px;
    transition: .2s;
}

.form button.simpanAnggota:hover {
    background-color: #00D592;
}

.ubahAnggota li:last-child {
    display: flex;
    justify-content: end;
    margin-right: 5px;
}

.ubahAnggota button {
    background-color: #78FFD4;
    padding: 5px 15px;
    transition: .2s;
    color: #888;
}

.ubahAnggota button:hover {
    background-color: #E4FFF6;
    color: #000;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 
 * ------------------------------------------------------------------------------------
 * Hapus
 * ------------------------------------------------------------------------------------
*/
/* #hapus {
    z-index: -999;
    position: absolute;
} */